.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 8px;
  border: 1px dashed #fff;
  outline: 1px dashed #000;
  cursor: move;
  color: white;
}

.block:last-child {
  margin-bottom: 0
}

.editing {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 2vmin;
}

.editing:focus {
  outline: none;
}

.input {
  font-size: 2vmin;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #fff;
  width: 16vw;
  text-align: center;
  cursor: pointer
}