.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 8px;
  border: 1px dashed #fff;
  cursor: move;
  color: white;
}

.block:last-child {
  margin-bottom: 0
}

.editing {
  border: none;
  background-color: transparent;
  width: 16vw;
  text-align: center;
  font-size: 2vw;
}

.editing:focus {
  outline: none;
}

.input {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 16vw;
  text-align: center;
}