.gradient {
  position: absolute;
  bottom: 8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60vw;
  max-height: 10vh;
  vertical-align: middle;
  overflow: hidden;
}

.h1 {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #fff;
  text-align: center;
  font-size: 3vmin;
}

@media screen and (min-width: 769px) {
  .h1 {
    font-size: 2vmin;
  }
}